
:root {

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    --transition-timing: 0.2s ease;
  }
  
  
  .container { 
    padding: 0 15px; 
    margin-inline: auto;
  }
  
  .has-scrollbar { padding-bottom: 5px; }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
  }
  
  .has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }
  
  .has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }
  
  .title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
  }
  
  
  
  /*-----------------------------------*\
    #BANNER
  \*-----------------------------------*/
  
  .banner { margin: 30px 0; }
  
  .slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.379);
  }
  
  .slider-item {
    position: relative;
    min-width: 100%;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    border-radius: 26px;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.315);
  }
  
  .slider-item .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: start;
  }
  
  .banner-content {
    backdrop-filter: blur(25px);
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.416) 0%, rgba(209, 209, 209, 0.456) 100%);
    border: 1px solid #ffffff7b;
    box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.315);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: 21px;

  }
  
  .banner-subtitle {
    color: #ffea00;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.816);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  
  .banner-title {
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
  }
  
  .banner-text { display: none; }
  
  .banner-btn {
    background: #ffea00;
    color: #000;
    width: max-content;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
  }
  
  .banner-btn:hover { background: var(--eerie-black); }
  
  
  
  
  /*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/
  
  
  /**
   * responsive larger than 480px screen
   */
  
  @media (min-width: 480px) {
  
    /**
     * #CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 1.875rem;
  
    }
  
  
    /**
     * #BANNER
     */
  
    .slider-item { aspect-ratio: 5 / 3; }
  
    .banner-content {
      top: 50%;
      right: auto;
      bottom: auto;
      transform: translateY(-50%);
      max-width: 320px;
    }
  
    .banner-subtitle { --fs-7: 1rem; }
  
    .banner-text {
      display: block;
      color: #203d9a;
      font-size: var(--fs-7);
      font-weight: var(--weight-500);
      margin-bottom: 10px;
    }
  
    .banner-text b { font-size: var(--fs-2); }
  
    .banner-btn { padding: 7px 20px; }
  
  
  }
  
  

  
  @media (min-width: 570px) {
  
  
    /**
     * #BANNER
     */
  
    .slider-item { aspect-ratio: 4 / 2; }
  
  }
  
  @media (min-width: 768px) {

  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 2.375rem;
  
    }
  
  
  
    /**
     * #BASE 
     */
  
    html { font-size: 17px; }
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container {
      max-width: 750px;
    }
  
  
    
    /**
     * #BANNER 
     */
  
    .slider-item {
      aspect-ratio: auto;
      height: 350px;
    }
  
    .banner-content { max-width: 380px; }
  
    .banner-subtitle { --fs-7: 1.25rem; }
  
    .banner-text { --fs-7: 1.125rem; }
  
    .banner-text b { --fs-2: 1.875rem; }
  
    .banner-btn { --fs-11: 0.75rem; }
  
  }
  
  
  @media (min-width: 1024px) {
  

    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 2.625rem;
      --fs-2: 1.125rem;
  
    }
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 980px; }
  
  
  
    /**
     * #NOTIFICATION TOAST 
     */
  
    .notification-toast { bottom: 30px; }

  
    /**
     * #BANNER 
     */
  
    .slider-item { height: 380px; }
  
    .banner-content {
      left: 75px;
      max-width: 400px;
    }
  
    .banner-subtitle { --fs-7: 1.625rem; }
  
    .banner-text { --fs-7: 1.375rem; }
  
    .banner-btn { --fs-11: 0.875rem; }
  
  }
  
  @media (min-width: 1200px) {
  
  
    .container { max-width: 1200px; }
  

  
  
    /**
     * #BANNER
     */
  
    .slider-item:last-child .banner-img { object-position: top; }
  }

  @media (min-width: 1400px) {
  
    /**
     * #BASE 
     */
  
    html { font-size: 18px; }
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 1350px; }
  
    /**
     * #BANNER
     */
  
    .slider-item { height: 450px; }
  
    .banner-content {
      left: 110px;
      max-width: 460px;
    }
  }